<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script defer type="module" src="../script.js"></script> 
    <link rel="icon" href="./rice_codesLOGOS/RiceCodes.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/11bdd8b393.js" crossorigin="anonymous"></script>
    <title>Shortly by Rice</title>
</head>
<body>
    <div class="container">
    <nav>
        <div class="nav_side_a">
            <div class="logo__wrapper">
                <img class="logo_gor" src="./image/gor_presents.png" alt="">
                <img class="logo_shortly" src="./image/from_figma/logo.svg" alt="">
            </div>
            <ul class="nav__links ">
               <li class="nav__link">Features</li>
               <li class="nav__link">Pricing</li>
               <li class="nav__link">Resources</li> 
            </ul>
        </div>
        <div class="nav_side_b">
            <ul class="nav__links">
                <li class="nav__link">Login</li>
                <li class="nav__link primary">Sign Up</li>
            </ul>
        </div>
    </nav></div>
    <section class="container" id="landing">
        <div class="row">
            <div class="landing--wrapper">

                <div class="landing__info--wrapper">
                    <div class="landing__info--title">More than just shorter links</div>
                    <div class="landing__info--sub-title"> Build your brand’s recognition and get detailed insights on how your links are performing.</div>
                    <button class="landing__info--btn primary">Get Started</button>
                </div>
                <figure class="landing__img--wrapper">
                    <img class="landing__img--image" src="./image/from_figma/illustration-working.svg" alt="">
                </figure>
                
            </div>
        </div>
    </section>
    <section class="container" id="shortening">
        
            <!-- split background -->
            <div class="shortening--wrapper">
                <form class="shortening--form" id="shortening--form">

                    <input type="text" class="origin-link--bar" id="origin-link" placeholder="Shorten a link here..">
                    <button class="primary primary-sqr" type="submit">Shorten It!</button>
                </form>
            </div>

    </section>
    <section class="container">
        <div class="statistics--wrapper" id="statistics">
            <div class="statistics__info--wrapper">
                <div class="statistics__info--title">Advanced Statistics</div>
                <div class="statistics__info--sub-title">Track how your links are performing across the web with our advanced statistics dashboard.</div>
            </div>
            <div class="statistics__cards--wrapper">
                <div class="statistics__card--wrapper">
                    <div class="card__head--wrapper">
                        <figure class="card__image--wrapper">
                            <img class="card__image--img" src="./image/from_figma/icon-brand-recognition.svg" alt="">
                        </figure>
                    </div>
                    <div class="card__info--wrapper">
                        <div class="card__info--title">Brand Recognition</div>
                        <div class="card__info--sub-title"> Boost your brand recognition with each click. Generic links don’t mean a thing. Branded links help instil confidence in your content.</div>
                    </div>
                </div>
                <div class="statistics__card--wrapper">
                    <div class="card__head--wrapper">
                        <figure class="card__image--wrapper">
                            <img class="card__image--img" src="./image/from_figma/icon-detailed-records.svg" alt="">
                        </figure>
                    </div>
                    <div class="card__info--wrapper">
                        <div class="card__info--title">Detailed Reccords</div>
                        <div class="card__info--sub-title"> Boost your brand recognition with each click. Generic links don’t mean a thing. Branded links help instil confidence in your content.</div>
                    </div>
                </div>
                <div class="statistics__card--wrapper">
                    <div class="card__head--wrapper">
                        <figure class="card__image--wrapper">
                            <img class="card__image--img" src="./image/from_figma/icon-fully-customizable.svg" alt="">
                        </figure>
                    </div>
                    <div class="card__info--wrapper">
                        <div class="card__info--title">Fully Customizable</div>
                        <div class="card__info--sub-title"> Boost your brand recognition with each click. Generic links don’t mean a thing. Branded links help instil confidence in your content.</div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="container">
        <div class="boost--wrapper" id="boost">
            <div class="boost__info--title">Boost your links today</div>
            <div class="boost__info--sub-title primary">Get Started</div>

        </disub-v primary>
    </section>
    <footer>
        <div class="footer--wrapper">
            <div class="logo__link">Shortly</div>
            <div class="connect__links">
                <ul class="connect__links--wrapper">
                    <li class="connect__link--header">Features</li>

                    <li class="connect__link">Link Shortening</li>
                    <li class="connect__link">Branded Links</li>
                    <li class="connect__link">Analytics</li>
                </ul>
                <ul class="connect__links--wrapper">
                    <li class="connect__link--header">Resources</li>

                    <li class="connect__link">Blog</li>
                    <li class="connect__link">Developers</li>
                    <li class="connect__link">Support</li>
                </ul>
                <ul class="connect__links--wrapper">
                    <li class="connect__link--header">Company</li>

                    <li class="connect__link">About</li>
                    <li class="connect__link">Our Team</li>
                    <li class="connect__link">Careers</li>
                    <li class="connect__link">Contact</li>
                </ul>
            </div>
            <ul class="social__links">
                <li class="footer__link"><a href="https://app.joinhandshake.com/profiles/gqqjmh" target="_blank"><i class="fa-solid fa-handshake"></i></a></li>
                <li class="footer__link"><a href="https://https://github.com/MsRice" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li class="footer__link"><a href="https://www.linkedin.com/in/patrice-maxwell" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                <li class="footer__link"><a href="https://www.thegrainofrice.com/patricemaxwell" target="_blank"><img class="footer__img" src="./image/rice_codesLOGOS/Rice_logo_only_no_background.png" alt=""></a></li>
            </ul>
        </div>
        <div class="attribution">
            Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
            Coded by <a href="#">Rice</a>.
        </div>
    </footer>
</body>
</html>