*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.row {
    width: 80vw;
    /* height: 90vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul{
    list-style-type: none;
}

/* Nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    height: 10vh;
    width: 90vw;
}

.logo__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_gor{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 8vh;
    
}
.logo_shortly{
    padding: 14px 0 0;
    max-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav_side_a {
    width: 40%;
    display: flex;
    align-items: center;
    
}
.nav_side_b {
    width: 10%;
    display: flex;
    align-items: center;
    
}


.nav__links{
    flex:7;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.nav__link{
    color: rgb(180, 198, 204);
    font-weight: 800;
    
}

.primary{
    color: #ffffff;
    font-weight: 800;
    background-color: #78ceD2;
    border-radius: 25px;
    padding: 10px 22px;
    border: #78ceD2;
    
}

/* Landing */

.landing--wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40vh;
    padding-top: 3rem;
}
.landing__info--wrapper{
    width: 42%;

}
.landing__info--title{
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 1;
    padding-bottom: .4rem;
}
.landing__info--sub-title{
    color: rgb(180, 198, 204);
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 1.8rem;
}


.landing__img--image{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40vh;
}

/* Shortening Bar */

#shortening{
    width: 100%;
    height: 30vh;
    background: linear-gradient(to bottom , 
    #ffffff 0%,
    #ffffff 50%,
    #F0F1F6 50%,
    #F0F1F6 100%
    ) ;
    
}
.shortening--wrapper{

    width: 90%;
    height: 50%;
    background-color: #393151;
    border-radius: 10px;
    background-image: url(./image/from_figma/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shortening--form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    /* border: 5px solid chartreuse; */
}

.origin-link--bar{
    width: 88%;
    padding: 1.6rem;
    border-radius: 10px;
    line-height: 1;
    font-size: 1.3rem;
    
}
.origin-link--bar::placeholder{
    color: rgb(180, 198, 204);;
}
.primary-sqr{
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 1.6rem 2.8rem;
}

/* Statistics */

.statistics--wrapper{
    background-color: #F0F1F6;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

.statistics__info--wrapper{
    flex: 1;
    max-width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}


.statistics__info--title{
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 1;
    padding-bottom: .4rem;
}
.statistics__info--sub-title{
    color: rgb(180, 198, 204);
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 1.8rem;
    text-align: center;
}

/* Statistic Card */

.statistics__cards--wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 3;
    width: 88%;
}
.statistics__card--wrapper{
    min-height: 50%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.card__head--wrapper{
    padding:0 0 0 24px  ;
    flex: 1;

}
.card__image--wrapper{
    background-color: #393151;
    /* width: 18%; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    
}
.card__image--img{
    padding: 20px;
}

.card__info--wrapper{
    background-color: #ffffff;
    border-radius: 10px;
    flex: 5;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;

}

.card__info--title{
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    padding-bottom: .4rem;
}
.card__info--sub-title{
    color: rgb(180, 198, 204);
    font-size: 1.2rem;
    font-weight: 400;
    /* padding-bottom: 1.8rem; */
    /* text-align: center; */

}

.boost--wrapper{
    width: 100%;
    height: 24vh;
    background-color: #393151;
    background-image: url(./image/from_figma/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.boost__info--title{
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 1.5;
    padding-bottom: .8rem;
    color: #ffffff;
}
/*  Footer */

footer{
    height: 30vh;
    background-color: #232027;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}
.footer--wrapper{
    display: flex;  
    justify-content: space-around;
    padding: 3rem  3rem 0 3rem;
    height: 100%;
}

.logo__link{
    /* border: 3px solid chartreuse; */
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 1.5;
    padding-bottom: .8rem;
    color: #ffffff;
    width: 20%;
}
.connect__links{
    width: 66%;
    display: flex;
    justify-content: space-evenly;

    height: 90%;

}

.connect__links--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.connect__link--header{
    padding: .2rem 0 .8rem;
    font-weight: 700;
}
.social__links{
    width: 20%;
    display: flex;
    font-size: 2rem;
    display: flex;
    list-style: none;
    justify-content: space-evenly;

}

.footer__link a{
    color: #fff;
}
.footer__img{
    height: 2.3rem;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }